<div class="ofertas">
  <h3>Ofertas da Semana</h3>
  <img src="assets/img/tempo.png" alt="imagem">
</div>

<div class="principal2">
  @for (item of produtostenis1; track item.id) {
    <div class="cardfavorito">
      <img [src]="item.imagem" alt="{{ item.nome }}" />
      <h3>{{ item.nome }}</h3>
      <p class="avaliacao">{{ item.avaliacao }}</p>
      <p>
        <s><span class="preco_antigo">R$ {{ item.preco_antigo | number:'1.2-2' }}</span></s>
        <span> Por </span>
        <span class="preco">R$ {{ item.preco | number:'1.2-2' }}</span>
      </p>
    </div>
  }
</div>

<div>
  <img src="assets/img/propaganda.png" alt="propaganda" class="propaganda-img">
</div>

<div class="principal2">
  @for (item of produtostenis2; track item.id) {
    <div class="cardfavorito">
      <img [src]="item.imagem" alt="{{ item.nome }}" />
      <h3>{{ item.nome }}</h3>
      <p class="avaliacao">{{ item.avaliacao }}</p>
      <p>
        <s><span class="preco_antigo">R$ {{ item.preco_antigo | number:'1.2-2' }}</span></s>
        <span> Por </span>
        <span class="preco">R$ {{ item.preco | number:'1.2-2' }}</span>
      </p>
    </div>
  }
</div>
