.titulo{
    text-align: center;
}
.opcao{text-align: center;
    font-size: 2rem;
    margin-top: 14%;
    color: orange;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.principal {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 13px; 
    max-height: 80vh; 
    padding: 16px;
    gap: 40px;
}

.cardfavorito {
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.botao-remover{
    background-color: red;
    margin-left: 35%;
}

