<header>
  <a [routerLink]="'/'" class="logo-voltar" aria-label="Voltar para a home">
    <img src="assets/img/marca.png" alt="Logo da loja" />
  </a>

  <nav class="navegação">
    <a routerLink="/">Início</a>
    <a href="#">sobre</a>
    <a href="#">Serviço</a>
    <a href="#">Contato</a>
    <a routerLink="/registrar" class="botLogin">Criar</a>
  </nav>
</header>

<div class="boxLogin">
  <h2>Login</h2>
  <form (submit)="onSubmit(); $event.preventDefault()">
    <input type="text" class="input-box" placeholder="Usuário" required [(ngModel)]="username" name="username" />
    <input type="password" class="input-box" placeholder="Senha" required [(ngModel)]="password" name="password" />
    <button type="submit" class="btn">Login</button>
    <br />
    <label><input type="checkbox" /> Lembrar-me</label>
    <a href="#">Esqueceu a Senha?</a>
    <p>
      Não tem uma conta?
      <a routerLink="/registrar">Criar uma conta</a>
    </p>
    @if (errorMsg) {
    <p style="color: red;">{{ errorMsg }}</p>
    }
  </form>
</div>