<section class="confirmacao">
    <h1 class="confirmacao-title">Confirmar Pedido</h1>
    <div class="separator"></div>
    <section class="pedido">
        <div class="pedido-img">
            <img src="https://cdn.pixabay.com/photo/2022/01/01/16/29/antelope-6908215_1280.jpg"
                alt="imagem do item do pedido">
        </div>
        <div class="pedido-desc">
            <p class="pedido-description_p">Nome do Item</p>
            <ul class="pedido-descriotion_list">
                <li>Quantidade:</li>
                <li>Total:</li>
            </ul>
        </div>
    </section>
    <div class="pedido-submit">
        <button class="btn-submit">
            <span>
                Confirmar
            </span>
        </button>
    </div>
</section>