@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

:root {
    --font: 'Roboto', sans-serif;
    --Amarelo: #FFA500;
    --Azul: #0DA7D9;
    --escuro: #325059;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 650px;
    overflow: hidden;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); 
}

.carousel-container {
    display: flex;
    animation: slide 25s infinite;
}

.carousel-slide {
    min-width: 100%;
    transition: transform 0.15s ease;
}

.carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@keyframes slide {
    0% {
        transform: translateX(0); 
    }
    25% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-200%);
    }
    75% {
        transform: translateX(-300%);
    }
    0% {
        transform: translateX(0%);
    }
}