<h1 class="promocao">Promoções</h1>

<div class="principal2">
  @for (item of produtostenis; track item.id) {
    
    <div class="cardfavorito">
      <p class="desconto">
      {{ calcularDesconto(item.preco_antigo, item.preco) }}% OFF
      </p>
      <img [src]="item.imagem" alt="{{ item.nome }}" class="imagem_produto" />
      <h3>{{ item.nome }}</h3>
          <s>
          <p  class="preco_antigo">
            R$ {{ item.preco_antigo | number : '1.2-2' }}
          </p>
          </s>
        
        <p class="preco">R$ {{ item.preco | number : '1.2-2' }}</p>
        
      <p class="frete">Frete grátis</p>
    </div>
  }
</div>
