.promocao {
  text-align: center;
  font-weight: bold;
  margin: 40px 0 20px 0;
  color: #000;
}

.principal2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 18px;
    gap: 40px;
    margin-block-end: 4%;
}

.cardfavorito:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.cardfavorito {
  width: 200px;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  font-size: 14px; 
  background-color: #fff;
  word-wrap: break-word;
}

.mensagem {
    text-align: center;
    background-color: orange;
    margin-top: 4px;
    font-size: 18px;
    padding: 1px 0;
    border: solid 1px black;
    line-height: 0.9px;
    box-sizing: border-box;
}

.imagem_produto {
  width: 100%;
  height: auto;
  height: 140px;
  object-fit: cover;
  border-radius: 8px;
}

.preco_antigo{
  color: #838080;
}

.frete{
  color: #2ac90a;
}

.preco, .preco_antigo, .frete {
  font-size: 0.9rem;
  word-break: break-word;
}

.desconto {
  background-color: #2bff00;
  text-align: left;
  font-size: 18px;
  display: inline-block;
  padding: 5px;
  margin-left: auto;
  font-weight: bold;
}

