<header>
  <a [routerLink]="'/'" class="logo-voltar" aria-label="Voltar para a home">
    <img src="assets/img/marca.png" alt="Logo da loja" />
  </a>
  <nav class="navegação">
    <a href="#">Início</a>
    <a href="#">Sobre</a>
    <a href="#">Serviço</a>
    <a href="#">Contato</a>
    <a routerLink="/entrar" class="botLogin">Entrar</a>
  </nav>
</header>

<div class="boxLogin">
  <h2>Conta</h2>
  <form (ngSubmit)="onSubmit()">
    <input type="text" class="input-box" placeholder="Nome completo" [(ngModel)]="nomeCompleto" name="nomeCompleto" required />
    <input type="text" class="input-box" placeholder="Usuário" [(ngModel)]="usuario" name="usuario" required />
    <input type="password" class="input-box" placeholder="Senha" [(ngModel)]="senha" name="senha" required />
    <input type="password" class="input-box" placeholder="Confirme a Senha" [(ngModel)]="confirmarSenha" name="confirmarSenha" required />
    <p *ngIf="errorMsg" style="color: red;">{{ errorMsg }}</p>
    <button type="submit" class="btn">Criar</button>
  </form>
</div>

