.principal2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 18px;
    gap: 40px;
    margin-block-end: 4%;
}

.cardfavorito {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.mensagem {
    text-align: center;
    background-color: orange;
    margin-top: 4px;
    font-size: 18px;
    padding: 1px 0;
    border: solid 1px black;
    line-height: 0.9px;
    box-sizing: border-box;
}

.cardfavorito:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.imagem_produto {
    width: 350px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.preco_antigo{
  color: #838080;
}

.frete{
  color: #2ac90a;
}

.preco, .preco_antigo, .frete {
  font-size: 0.9rem;
  word-break: break-word;
}


.desconto {
  background-color: #39FF14;
  text-align: left;
  font-size: 18px;
  padding: 5px;
  margin-left: auto;
  font-weight: bold;
}

.promocao {
  text-align: center;
  font-weight: bold;
  margin: 100px 0px 0px 0px;
  color: #000;
}

.geral{
  margin-top: 10px;
}