<app-header> </app-header>

<div class="mensagem">
  @if (genero === 'feminino') {
    <h2>Produtos Femininos</h2>
  } @else if (genero === 'masculino') {
    <h2>Produtos Masculinos</h2>
  } @else if (genero === 'infantil') {
    <h2>Produtos Infantis</h2>
  }
</div>

<div class="principal2">
  @for (item of produtostenis; track item.id) {
  <div class="cardfavorito">
    <img [src]="item.imagem" alt="{{ item.nome }}" />
    <h3>{{ item.nome }}</h3>
    <p class="avaliacao">{{ item.avaliacao }}</p>
    <p>
      <s>
        <span class="preco_antigo">
          R$ {{ item.preco_antigo | number : "1.2-2" }}
        </span>
      </s>
      <span> Por </span>
      <span class="preco">R$ {{ item.preco | number : "1.2-2" }}</span>
    </p>

    <button class="botao" (click)="adicionarAosFavoritos(item)">
      Adicionar aos Favoritos
    </button>

    <button class="carrinho" (click)="adicionarAoCarrinho(item)">
      Adicionar ao Carrinho
    </button>
  </div>
  }
</div>

<app-footer> </app-footer>
