
button {
    background-color: #007bff;
    margin-left: 2%;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.principal2 {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 13px; 
    max-height: 80vh; 
    padding: 16px;
    gap: 40px;
    margin: solid 2px black;
}

.cardfavorito {
    border: solid 1px black;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
}
.botao-remover{
    background-color: red;
    margin-left: 42%;
}

.carrinho{
    background-color: orange;
    border: solid 1px black;
}

.avaliacao{
    font-size: 1.5rem;
}

