@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --fonte: "Roboto", sans-serif;
  --amarelo: #ffa500;
  --azul: #0da7d9;
  --escuro: #325059;
}


html,
body,
app-root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: var(--fonte);
  background-color: white;
}

* {
  box-sizing: border-box;
  font-family: var(--fonte);
}

app-header,
app-carrossel,
app-element,
app-footer {
  display: block;
  margin: 0;
  padding: 0;
  width: 100%;
}

section {
  margin: 0;
  padding: 0;
  width: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
}
