<footer class="footer">
    <div class="footer-section">
      <h2>Institucional</h2>
      <nav>
        <ul>
          <li><a href="#">Sobre o site</a></li>
          <li><a href="#">Políticas de Privacidade</a></li>
          <li><a href="#">Dicas de Corrida</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="footer-section">
      <h2>Ajuda</h2>
      <nav>
        <ul>
          <li><a href="#">Minha Conta</a></li>
          <li><a href="#">Meus Pedidos</a></li>
          <li><a href="#">Entrega</a></li>
        </ul>
      </nav>
    </div>
  
    <div class="footer-section">
      <h2>Contatos</h2>
      <address>
        <p>empresagmail.com</p>
        <p>(11) 91234-5678</p>
      </address>
    </div>
  
    <div class="footer-section address">
      <h2>Endereço</h2>
      <address>
        <p>Sneakers.com Internet S/A</p>
        <p>CNPJ: 12.345.678/0001-99</p>
        <p>Av. dos Tênis, nº 1234 - 5º Andar</p>
        <p>CEP: 01234-567 - São Paulo - SP</p>
      </address>
    </div>
  
    <div class="footer-social">
      <img src="assets/img/insta.png" alt="Instagram da loja">
      <img src="assets/img/face.png" alt="Facebook da loja">
      <img src="assets/img/x.png" alt="Twitter da loja">
      <img src="assets/img/youtube.png" alt="YouTube da loja">
    </div>
  </footer>
  
  <section class="footer-copy">
    <p>&copy; 2000 - 2025 Sneakers.com.br. Todos os direitos reservados.</p>
    <p>Todo o conteúdo do site é de propriedade exclusiva da SNEAKERS.COM ou parceiros. Reprodução proibida sem autorização.</p>
  </section>
  