<footer>
<div class="footer1">
    <h1>Institucional</h1>
    <p>Sobre o site</p>
    <p>Politicas de Provacidade</p>
    <p>Dicas de Corrida</p>
</div>

<div class="footer2">
    <h1>Ajuda</h1>
    <p>Minha Conta</p>
    <p>Meus Pedidos</p>
    Entrega
</div>

<div class="footer3">
    <h1>Contatos</h1>
    <p>Empresagmail.com</p>
    <p>(11) 91234-5678</p>
</div>

<div class="footer4">
    <p>Sneakers.com Internet S/A</p>
    <p>CNPJ: 12.345.678/0001-99</p>
    <p>Av. dos Tênis, nº 1234 - 5º Andar</p>
    <p>CEP: 01234-567 - Bairro Fashion - SÃO PAULO - SP</p>
</div>

<div class="footerIMG">
    <img src="assets/img/insta.png" alt="insta">
    <img src="assets/img/face.png" alt="facebook">
    <img src="assets/img/x.png" alt="x">
    <img src="assets/img/youtube.png" alt="youtube">
</div>
</footer>
<section>
  <div class="footer5">
    <p>Copyright © 2000 - 2025 www.sneakers.com.br, TODOS OS DIREITOS RESERVADOS.</p>
    <p>Todo o conteúdo do site, todas as fotos, imagens, logotipos, marcas, dizeres, som, software, conjunto imagem, layout, trade dress, aqui veiculados são de propriedade exclusiva da SNEAKERS.COM Internet S.A. ou de seus parceiros. É vedada qualquer reprodução, total ou parcial, de qualquer elemento de identidade, sem expressa autorização. A violação de qualquer direito mencionado implicará na responsabilização cível e criminal nos termos da Lei.</p>
  </div>
</section>
