<a [routerLink]="'/'" class="logo-voltar" aria-label="Voltar para a home">
  <img src="assets/img/marca.png" alt="Logo da loja" />
</a>

<section class="manutencao-container">
  <h1>Manutenção de Produtos</h1>

  <div class="form-e-imagem">
  <form (ngSubmit)="adicionarOuAtualizarProduto(form)" #form="ngForm">
    <input
      type="text"
      name="nome"
      [(ngModel)]="novoProduto.nome"
      placeholder="Nome do produto"
      required
      #nome="ngModel"
    />
    <input
      type="text"
      name="descricao"
      [(ngModel)]="novoProduto.descricao"
      placeholder="Descrição do produto"
      required
    />
    <input
      type="number"
      name="preco"
      [(ngModel)]="novoProduto.preco"
      placeholder="Preço"
      required
    />
    <input
      type="number"
      name="preco_antigo"
      [(ngModel)]="novoProduto.preco_antigo"
      placeholder="Preço antigo"
      required
    />
    <select
     class="estilo"
     name="genero"
    [(ngModel)]="novoProduto.genero"
    required
    >
    <option value="" disabled selected>Gênero</option>
    <option value="masculino">Masculino</option>
    <option value="feminino">Feminino</option>
    <option value="infantil">Infantil</option>
    </select>
    <input
      type="number"
      name="estoque"
      [(ngModel)]="novoProduto.estoque"
      placeholder="Estoque"
      required
    />
    <input
      type="text"
      name="imagem"
      [(ngModel)]="novoProduto.imagem"
      placeholder="Caminho da imagem"
      required
    />

    <button type="submit"  [disabled]="form.invalid">
      {{ editandoId ? "Atualizar" : "Adicionar" }}
    </button>
  </form>
  
  <div class="preview-imagem">
      <h4>Imagem</h4>
      <img
        *ngIf="novoProduto.imagem"
        [src]="novoProduto.imagem"
        alt="Prévia da imagem"
      />
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Descrição</th>
        <th>Preço</th>
        <th>Preço Antigo</th>
        <th>Avaliação</th>
        <th>genero</th>
        <th>Estoque</th>
        <th>Imagem</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      @if (produtos.length > 0) { @for (produto of produtos; track produto.id) {
      <tr>
        <td>{{ produto.id }}</td>
        <td>{{ produto.nome }}</td>
        <td>{{ produto.descricao }}</td>
        <td>R$ {{ produto.preco | number : "1.2-2" }}</td>
        <td>R$ {{ produto.preco_antigo | number : "1.2-2" }}</td>
        <td>{{ produto.avaliacao }}</td>
        <td>{{ produto.genero }}</td>
        <td>{{ produto.estoque }}</td>
        <td><img [src]="produto.imagem" alt="Imagem do produto" class="imagem_miniatura" /></td>
        <td>
          <button (click)="editar(produto)">Editar</button>
          <button class="excluir" (click)="excluir(produto.id!)">
            Excluir
          </button>
        </td>
      </tr>
      }}
    </tbody>
  </table>
</section>
